@use '../theme/theme' as theme;

.order-call {
  $this: &;

  display: flex;
  align-items: center;
  white-space: nowrap;


    // .order-call__button
    &__button {
      @include theme.lg {
          display: block;
      }

      @include theme.xl {
        font-size: 13px;
      }

      @include theme.xxl {
        font-size: 15px;
      }

      display: none;
      overflow: hidden;
      font-size: 12px;
      font-weight: 600;
      line-height: var(--h);
      color: #0000;
      text-shadow: 0 0 var(--color-blue), 0 var(--h) var(--color-blue);
      text-transform: uppercase;
      cursor: pointer;
      background-color: transparent;
      border: 0 none;
      outline: none;
      transition: .5s;

      --h: 1.2em;

      &:hover {
          text-shadow: 0 calc(-1 * var(--h)) var(--color-blue), 0 0 var(--color-blue);
        }
      }


    // .order-call__icon
    &__icon {
      @include theme.md {
        width: 43px;
        height: 43px;
      }

      @include theme.lg {
          display: none;
      }

      display: flex;
      align-items: center;
      justify-content: center;
      width: 41px;
      height: 41px;
      cursor: pointer;
      border: 1px solid var(--color-light-gray);
      border-radius: 50%;
    }
}
